body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 44px;
  line-height: 48px;
  color: #ffffff;
  padding-right: 30px;
  padding-top: 20px;
  font-weight: 900;
  margin-bottom: 18px;
  margin-top: 15px;
  text-align: center;
}
h2 {
  list-style: none;
  color: #48484a;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: center;
}

h3 {
  color: white;
  font-weight: 300;
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: -10px;
  position: relative;
  left: 11px;
}

li {
  list-style: none;
  color: #48484a;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  margin-bottom: 0;
  position: relative;
  left: 50px;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

h3:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 650px;
  margin: 25px auto;
}
.weather-app {
  max-width: 650px;
  padding: 40px;
  background: radial-gradient(
    circle at 0.1% 99.8%,
    rgb(0, 164, 189) 0%,
    rgb(0, 189, 165) 90%
  );
  box-shadow: 0 10px 42px 0 rgba(15, 14, 22, 0.37);
  backdrop-filter: blur(8px);
  border-radius: 10px;
}

.overview {
  margin-bottom: 10px;
}

.weather-temperature img {
  margin-right: 20px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #ffffff;
  font-size: 45px;
}

.weather-temperature .units {
  position: relative;
  font-size: 15px;
  top: -22px;
  color: white;
}

.footer {
  display: block;
  margin-top: -15px;
  text-align: center;
  font-size: 11px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: antiquewhite;
  display: block;
}

.weather-forecast-day {
  font-size: 17px;
  color: #48484a;
}

.weather-forecast-temperatures {
  font-size: 14px;
}

.weather-temp-low {
  opacity: 0.6;
}

@media (max-width: 960px) {
  .form-control {
    font-size: 10px;
    margin: 0;
  }

  .btn {
    font-size: 10px;
    padding: 4px 4px;
    margin: 0;
  }

  .weather-temperature strong {
    font-size: 33px;
  }

  .weather-temperature .units {
    display: block;
    margin: -20px 0px 0px 40px;
  }
  li {
    font-size: 12px;
    padding-right: 25px;
  }

  .weather-forecast-day {
    font-size: 15px;
    text-align: center;
  }

  .weather-forecast-temperatures {
    font-size: 12px;
  }
}
