body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 38px;
  line-height: 48px;
  color: #ffffff;
  padding-right: 30px;
  padding-top: 10px;
  font-weight: 500;
}

li {
  list-style: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;

  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 25px auto;
}
.weather-app {
  max-width: 600px;
  padding: 40px;
  background: radial-gradient(
    circle at 0.1% 99.8%,
    rgb(0, 164, 189) 0%,
    rgb(0, 189, 165) 90%
  );
  box-shadow: 0 8px 32px 0 rgba(124, 86, 89, 0.37);
  backdrop-filter: blur(8px);
  border-radius: 10px;
}

.overview {
  margin-bottom: 10px;
}

.weather-temperature img {
  margin-right: 20px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: white;
  font-size: 45px;
}

.weather-temperature .units {
  position: relative;
  font-size: 15px;
  top: -20px;
  color: white;
}
